body{
    font-family: 'Courier New', monospace;
}

th,td{
    background: pink;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    user-select: none;
    transition: opacity 0.3s 0.1s;
}

td:hover{
    cursor: pointer;
    opacity: 0.8;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.num-list{
    display: flex;
}
.num-list li{
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    user-select: none;
}
ul:last-of-type{
    border-right: 1px solid black;
}
.num-list li:last-of-type{
    border-bottom: 1px solid black;
}